/* RECORDATORIO PARA AJUSTAR EL MAX-WIDTH A TODA LA PÃGINA */

body{
    max-width: 192rem;
    margin: 0 auto;
    font-size: 2rem;
    overflow-x: hidden;
}

a:hover{
    color: yellow;
    transition: 0.8s;
}

.header__welcome{
    margin: 15rem 0;
}

.header__welcome h1{
    font-size: 5rem;
    font-family: 'Red Hat Mono', monospace;
}


.header__welcome h1 {
    font-size: 8rem;
    margin-bottom: 2rem;
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 4rem;
    color: #1c1b1a;
}

.section__main, .section__clientTestimonials, footer{
    width: 100%;
    max-width: 192rem;
}

#box1{
    order: 2;
}

#box3{
    order: 3;
}
#box4{
    order: 4;
}
#box5{
    order: 5;
}
#box6{
    order: 6;
}

.client__profilecard{
    padding: 6rem;
}

/* navbar */
.header__item{
    display: none;
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__item--hidden{
    display: block;
    margin-right: 2rem;
}

.header__item--hidden:last-child{
    background-color: white;
    padding: 1.5rem;
    border-radius: 5rem;
}
/* navbar */

.section__card{
    align-items: flex-start;
}

.section__card{
    text-align: left;
}


/* Galeria de fotos */
.section__gallery > img{
    width: 100%;
    max-width: 48rem;
}
