/* RECORDATORIO PARA AJUSTAR EL MAX-WIDTH A TODA LA PÃGINA */

body{
    width: 100%;
    max-width: 192rem;
    margin: 0 auto;
    font-size: 2rem;
    overflow-x: hidden;
}


#box1{
    order: 2;
}

#box3{
    order: 3;
}
#box4{
    order: 4;
}
#box5{
    order: 5;
}
#box6{
    order: 6;
}

.client__profilecard{
    padding: 8rem;
}


/* Galeria de fotos */

/* navbar */
.header__item{
    display: none;
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__item--hidden{
    display: block;
    margin-right: 2rem;
}


.header__item--hidden:last-child{
    background-color: white;
    padding: 1.5rem;
    border-radius: 5rem;
}

.section__gallery > img{
    width: 100%;
    max-width: 48rem;
}
