@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --rosado: #fe7867;
    --amarillo:#fad400;
    --verdepantano: #25564b;
    --verde: #19536b;
    --verdepistacho:#458c7e;
    --verdeoscuro: #23303e;
    --grismasoscuro: #5a636c;
    --grisoscuro: #818498;
    --gris:#a7abae;
    --blanco: #ffffff;
}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100wh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    font-size: 1.6rem;
    color: white;
}
h2{
    font-size: 3.5rem;
    padding: 2rem;
}

h3{
    font-size: 2.5rem;
    color: black;
}

h5{
    font-size: 2rem;
    color: black;
}

p{
    line-height: 1.5;
    font-weight: 600;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
   display: block; 
}

/* BEGINS HEADER'S LANDING PAGE */
header{
    width: 100%;
    min-width: 30rem;
    height: 100vh;
    background-image: url("../mobile/image-header.jpg");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}


.header__item--hidden{
    display: none;
}

.header__welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15rem;
}
/* LANDING'S HEADER IT'S DONE */

/* CARDS MAIN */

.section__picture{
    width: 100vw;
    min-height: 30rem;
}

.section__picture img{
    width: 100%;
    min-width: 36rem;
}

.section__card{
    text-align: center;
    padding: 3rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__card--info p{
    color: var(--grisoscuro);
    margin-bottom: 2rem;
}


.section__cardDescription{
    position: relative
}
.section__description{
    position:absolute;
    bottom: 12%;
    text-align: center;
    padding: 0 2rem;
    color: var(--verdeoscuro);
}

.section__clientTestimonials{
    padding: 5rem 2rem;
    background-color: var(--blanco);
    color: var(--grisoscuro);
}

.clientTestimonials__title{
    text-align: center;
}

.client__img{
    border-radius: 50%;
    margin: 5rem 0;
}

.client__profilecard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__clientName{
    margin: 1rem 0;
}

.client__job{
    font-size: 1.3rem;
}

/* Gallery */

.section__images-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.section__gallery > img{
    width: 100%;
}


/* FOOTER */

.footercontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--verdepistacho);
    padding: 3rem;
}

.footer__logo{
    margin: 0 auto;
}

.footer__menu{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

