
.section__main--grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.section__picture{
    width: auto;
    min-width: 30rem;
}

.section__picture img {
    width: 100%;
    min-width: 23rem;
    max-width: 96rem;
    height: 100%;
}

.clients__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__card{
    width: 100%;
    min-width: 30rem;
    max-width: 96rem;
}

.section__images-grid {
    display: flex;
}